@import "universal.css";

main {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 50%;
    width: 100vw;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
}

ul {
    list-style: none;
}

div {
    height: 500px;
    max-width: 800px;
    background-color: rgb(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 20px;
    border-radius: 20px;
}

a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-weight: bold;
    align-self: center;
    background-color: white;
    border-radius: 25px;
    font-size: 20px;
}

a:hover {
    background-color: lime;
}

#ator1-main {
    background-image: url('https://m.media-amazon.com/images/M/MV5BZWEwODE5OGQtZWRkNy00OWFlLWJjNDUtZTQwOGZhMmRjZWVhXkEyXkFqcGdeQXVyMjk3NTUyOTc@._V1_.jpg');
}

#ator2-main {
    background-image: url('../img/ator2.jpg');
    background-position: 50% 50%;
}    

#ator3-main {
    background-image: url('https://m.media-amazon.com/images/M/MV5BMTc0OTM2NjA5NF5BMl5BanBnXkFtZTcwMjQ1MjE1OQ@@._V1_.jpg');
}

@media screen and (min-width: 900px) {
    #ator3-main {
        background-size: contain;
        background-position-x: 0;
        background-color: rgb(60, 69, 80);
    }
}